/////////// Floating fields compact /////////////////
.t-Form-fieldContainer--floatingLabel.t-Form-fieldContainer {
    padding-top: 0!important;
    padding-bottom: 0!important;
}
.t-Form-fieldContainer--floatingLabel .apex-item-select, .t-Form-fieldContainer--floatingLabel .apex-item-text, .t-Form-fieldContainer--floatingLabel .apex-item-textarea {
    min-height: 3.8rem!important;
    padding: 1.5rem .8rem .2rem!important;
}

.t-Form-fieldContainer--floatingLabel .apex-item-select[size="1"] {
    max-height: 3.8rem!important;
}

.t-Form-fieldContainer--floatingLabel .apex-item-display-only {
    display: block;
    width: 100%;
    padding: 1.5rem .8rem .2rem!important;
    border-radius: .2rem;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    line-height: 2rem;
    font-weight: 400;
    border: 1px solid;
    min-height: 3.8rem!important;
}

/////////// FORM HEADERS /////////////////
.t-Breadcrumb-item h1 {
   font-size: 2.5rem;
}

.t-BreadcrumbRegion {
    padding: 0.3rem 16px 0.3rem 16px;
}

.t-Breadcrumb-label {
    font-size: inherit;
    line-height: normal;
    margin: inherit;
    display: inherit;
    font-weight: inherit;
}

//Interactive report table rows
.t-fht-tbody a {
    color: #404040;
}

.t-fht-tbody tr {
    cursor: pointer;
}
